.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.full-height {
  min-height: 100vh;
  /* Ensures full viewport height */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Main-bg {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

/* styles.css or App.css */

.pulsate {
  cursor: pointer;
  transition: letter-spacing 0.3s ease;
  /* Smooth transition for hover effect */
  letter-spacing: normal;
  /* Default letter-spacing */
}

/* Floating effect keyframes */
@keyframes expand {
  0% {
    letter-spacing: normal;
    /* Default letter-spacing */
  }

  50% {
    letter-spacing: 5px;
    /* Increase letter-spacing */
  }

  100% {
    letter-spacing: normal;
    /* Return to default letter-spacing */
  }
}

/* Apply floating effect when button is hovered */
.pulsate:hover {
  animation: expand 1.5s ease-in-out infinite;
  /* Apply the float animation */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Bg-Movement-Transition {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5);
  background-size: 10000% 10000%;
  animation: Gradient-Transition 5s ease-in-out infinite alternate;
}

@keyframes Gradient-Transition {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* ----------------------------------------------------------- */

.bg-default {
  background-color: #172b4d !important;
}

.btn-orange
{
  color:white !important;
  background-color: #ff5733 !important;
}

.btn-orange:hover
{
  color:white !important;
  background-color: #ff5833be !important;
}

.like-btn
{
  color:#fff;
  margin: 0 0.2em 0 0.2em;
  transition: all 0.2s ease;
}
.like-btn:hover{
  color:#42b883;
  padding-top: 1px;

}

.static-btn-dark
{
    background: #212529;
    transition: all 0.2s ease;
    color:#fff;
    margin: 0 0.2em 0 0.2em;
}

.static-btn-dark:hover
{
    color:#ff915a;
    background: rgba(41, 41, 41, 0.7);
}


.ui-bg-animate {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 600% 600%;
  animation: gradient 15s ease-in-out infinite alternate;
}


/* text border starts */
.txt-border-black-2 {
  /* 2 refers to 2px */
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.txt-border-white-2 {
  /* 2 refers to 2px */
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.border-error {
  border: 3px solid rgb(250, 1, 1);
}

.border-success {
  border: 3px solid rgb(2, 205, 2);
}

/* text border ends */

/* letter spacing starts */
.ls-vsm {
  letter-spacing: 0.2em;
}

.ls-sm {
  letter-spacing: 0.5em;
}

.ls-lg {
  letter-spacing: 1em;
}

.ls-lg {
  letter-spacing: 1em;
}

/* letter spacing ends */

.hover-rotate:hover {
  transform: rotate(360deg);
  transition: all 0.4s ease-in-out;
}

/* rotate starts */
.rotate-forever-slowest {
  animation: rotor 60s linear infinite;
}

.rotate-forever-slow {
  animation: rotor 40s linear infinite;
}

.rotate-forever-mid {
  animation: rotor 20s linear infinite;
}

.rotate-forever-fast {
  animation: rotor 6s linear infinite;
}

.rotate-forever-fastest {
  animation: rotor 1s linear infinite;
}

/* rotate ends */

/* visibility starts */
.hide {
  display: none;
}

.show {
  display: block;
}

.not-visible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

/* visibility ends */

/* btn starts */
.ghost-btn-black {
  width: auto;
  padding: 4px;
  color: black;
  text-decoration: none;
  display: inline-block;
  background: transparent;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
}

.ghost-btn-wide {
  width: 50%;
  padding: 8px;
  color: black;
  text-decoration: none;
  display: inline-block;
  background: transparent;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
}

.btn-green {
  background: #20c997;
  transition: all 0.3s ease;
  padding: 8px;
  background-size: 200% 200%;
  border-radius: 0.3em;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  border: 1.5px solid black;
}

.ghost-hover-btn {
  width: 72%;
  padding: 8px;
  color: black;
  text-decoration: none;
  display: inline-block;
  background: transparent;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  transition: all 0.3s ease;
}

.ghost-hover-btn:hover {
  background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  color: #fff;
  transition: all 0.3s ease;
  animation: gradient 0.9s ease-in-out infinite alternate;
  background-size: 200% 200%;
  letter-spacing: 6px;
  font-weight: bold;
  border: 1.5px solid black;


}

/* btn ends */

/* misc starts */
.bg-rise-shutter {
  color: black;
  border: 2px solid black;
  transition: all 0.3s ease-out;
  background: linear-gradient(to bottom, rgb(8, 223, 8, 0) 0%,
      rgb(8, 223, 8, 0) 50%,
      #906387 75%,
      #906387 100%);
  background-repeat: no-repeat;
  background-size: 100% 400%;
}

.bg-rise-shutter:hover {
  background-position: 0 100%;
  border: 2px solid #906387;
  color: white;
}

.fade1 {
  animation: fade 1s ease-in-out;
}

.fade2 {
  animation: fade 2s ease-in-out;
}

/* misc ends */

/* all animations start */
@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ------------------------------------------------------------------- */
