footer {
    bottom:0;
    min-width: 100%;
    margin-left: 0;
    text-align: center;
    padding: 0.4em;
    height: 52px;
    color: #fff;
    /* border-top: 1px solid #212529; */
    /* background: #36454F; */
    position: fixed;
    transition: all 0.5s ease;
    z-index: 10000;
}

.home-btn
{
    /* background: #212529; */
    transition: all 0.2s ease-in;
    color:#fff !important;
    font-weight: bold;
    /* margin: 0 0.1em 0 0.1em; */
}
.home-btn:hover
{
    color:#ffc107 !important;
    background: rgba(57, 57, 57, 0.7);
    padding-top: 0.1em;
    transition: all 0.2s ease-in;
}

/* .footer-list ul{
    margin: 0 !important;
    padding: 0 !important;
} */

.bg-menu
{
    background: #fff !important;
}


.logo-btn{
    padding-top: 0.4em;
}
.logo-btn:hover{
    background-color: rgba(0,0,0,0.3);
}

.dashboard-btn
{
    transition: all 0.2s ease;
    color:#c24d2c;
    font-weight: bold;
    margin: 0 0.2em 0 0.2em;
    animation: textColor1 2s ease-in-out infinite alternate;
}
.dashboard-btn:hover
{
   
    background: rgba(57, 57, 57, 0.7);
    color: #fff;
    animation: none;
    /* padding-top: 0.1em; */
}

ul.footer-list {
    display: flex;
    justify-content: center; /* Centers the list items within the ul */
    padding: 0;
    margin: 0;
    width: fit-content; /* Adjust the ul width to fit its content */
    list-style: none; /* Optional: remove bullets if not already done */
}

ul.footer-list-item-inline li {
    margin: 0; /* Remove any margins around li */
    padding: 0;
}