.text-updated
{
    background: #efcd52;
    color: #000000 !important;
}

.text-inserted
{
    background: #3fb950;
    color: #ffffff !important;
}

.text-deleted
{
    background: #e35d5d;
    color: #ffffff !important;
}

.line-inserted
{
    background: #3fb950 !important;
    color: #000000 !important;
}

.line-updated
{
    background: #efcd52 !important;
    color: #000000 !important;
}

.line-deleted
{
    background: #f89c9c !important;
    color: #000000 !important;
}