.Bg-Rise {
    color: white;
    border: 2px solid white;
    padding: 0.3em;
    transition: all 0.4s ease-out;
    background: linear-gradient(to bottom, rgb(8, 223, 8, 0) 0%,
            rgb(8, 223, 8, 0) 50%,
            #dc3545 75%,
            #dc3545 100%);
    background-repeat: no-repeat;
    background-size: 100% 400%;
}

.Bg-Rise:hover {
    background-position: 0 100%;
    border: 2px solid #dc3545;
    color: white;
}